body{
    background-color: rgb(100, 149, 237, 0.3);
}

footer{
    text-align: center;
    bottom:0;
    width:100%;
    padding-top:2vh;
    height:2em;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: aliceblue;
    position: fixed;
    top: 0;
    height: 3em;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.logo{
    margin-left: 15vw;
    padding-left: 1em;
    height: 50px;
}

.appName{
    color: cornflowerblue;
    font-family: "Lucida Handwriting";
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.menu{
    color: cornflowerblue;
    font-family: "Arial";
    margin: 1em;
    font-size: 16px;
}

.ideas-block{
    margin-top : 10vh;
    margin-left: 15vw;
    width: 70vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.idea-block {
    width: 20vw;
    margin-top: 2vh;
    padding: 1em;
    background-color: aliceblue;
    border-radius: 2em;
}

.idea-img{
    vertical-align: bottom;
    width:30px;
}

.idea-title{
    color: cornflowerblue;
    font-family: "Lucida Handwriting";
    font-size: 20px;
}

.idea-author{
    font-family: "Lucida Handwriting";
    font-size: 12px;
}

.idea-description{
    font-family: "Arial";
    font-size: 14px;
}

.text-center{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.form{
    margin-left: 30vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.form-field{
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.description-field{
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    height: 7em;
}

.form-label{
    font-style: oblique;
}

.app-btn{
    background-color: aliceblue;
    padding: 0.5em;
    border-radius: 1em;
    width: 10em;
    margin-left: 15vw;
    margin-top: 5vh;
}

.app-btn:hover{
    background-color: cornflowerblue;
}

.app-btn-balise-a {
    background-color: aliceblue;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    width: 8em;
    margin-left: 15vw;
    margin-top: 5vh;
    color : black;
    border: 0.08em solid black;
}

.app-btn-balise-a:hover{
    background-color: cornflowerblue;
}

.marginTop{
    margin-top: 20vh;
}

.idea-detail-container{
    margin-left: 30vh;
    margin-right: 30vh;
}

.flash-success{
    margin-top: 10vh;
    background-color: white;
    color: darkcyan;
}

.flash-error{
    margin-top: 10vh;
    background-color: white;
    color: darkred;
}

.rotate180{
    transform: rotate(180deg);
}

.vote-disabled {
    cursor: not-allowed;
}