{%  extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{%  block main %}

    <form class="marginTop form" method="post">
        <label class="form-label" for="username">Identifiant : </label>
        <input class="form-field" type="text" name="_username" id="username">
        <br>
        <br>

        <label class="form-label" for="password">Mot de passe : </label>
        <input class="form-field" type="password" name="_password" id="password">
        <br>
        <br>

        <button class="app-btn" type="submit">Connexion</button>
    </form>
{%  endblock %}